---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Destacados from '../components/Destacados.astro';
import Reservas from '../components/Reservas.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Bar Gayarre - Tradición y calidad">
  <main>

    <Header />
    <!-- Hero Section -->
    <Hero />

    <!-- Destacados Section -->
    <Destacados />

    <!-- Reservas Section -->
    <Reservas />
  </main>
</Layout>

<Footer/>