---
// src\components\Destacados.astro

---
<section class="py-20 bg-white">
	<div class="container mx-auto px-4">
	  <h2 class="text-4xl font-serif text-center mb-12">Platos Destacados</h2>
	  <div class="grid md:grid-cols-3 gap-8">
		<div class="bg-secondary/10 rounded-lg overflow-hidden">
			<img 
			src="/images/pincho_calabacin.jpg" 
			alt="Plato 1" 
			class="w-full h-48 object-cover"
		  />
		  <div class="p-6">
			<h3 class="text-xl font-serif text-primary mb-2">Chuletón de Vaca</h3>
			<p class="text-gray-700">Maduración 45 días, acompañado de patatas y pimientos.</p>
		  </div>
		</div>
		<div class="bg-secondary/10 rounded-lg overflow-hidden">
		  <img 
			src="/images/pinchos_barra.jpg" 
			alt="Plato 2" 
			class="w-full h-48 object-cover"
		  />
		  <div class="p-6">
			<h3 class="text-xl font-serif text-primary mb-2">Pochas a la Navarra</h3>
			<p class="text-gray-700">Receta tradicional con sus sacramentos.</p>
		  </div>
		</div>
		<div class="bg-secondary/10 rounded-lg overflow-hidden">
		  <img 
			src="/images/pincho_torrezno.jpg" 
			alt="Plato 3" 
			class="w-full h-48 object-cover"
		  />
		  <div class="p-6">
			<h3 class="text-xl font-serif text-primary mb-2">Torrija Caramelizada</h3>
			<p class="text-gray-700">Con helado de vainilla artesano.</p>
		  </div>
		</div>
	  </div>
	</div>
</section>